<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis:</p>
    <ul>
      <li>guideline stuffs 1.</li>
      <li>guideline stuffs 2.</li>
      <li>guideline stuffs 3.</li>
    </ul>
    <br>
    <% if authorized_to_add_collabs?(@wiki) %>
     <div>
        <%= render partial: 'collaborators/collaborators', locals: { wiki: @wiki } %>
        <%= render partial: 'collaborators/form', locals: { wiki: @wiki } %>
      </div>
    <% end %>
  </div>
  <div class="col-md-8">
  <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
